p, ul {
	margin: 0;
	padding: 0;
}

body {
	font-size:		18px;
	font-family:		"Frutiger", "Univers", "Helvetica Neue", arial, helvetica, sans-serif;
	background-color:	#792d13;
	text-align:		center;
}

.wrapper_3 {
	font-size:		1em;
	width:			45.3333em;
	margin-left:		auto;
	margin-right:		auto;
	text-align:		left;
	background-color:	#792d13;
}

.inside_wrapper_3 {
	font-size:		1em;
	width:			45.3333em;
	margin-left:		auto;
	margin-right:		auto;
	text-align:		left;
	background-color:	#570b0c;
}

.wrapper_2 {
	font-size:		1em;
	width:			44.6667em;
	margin-left:		auto;
	margin-right:		auto;
	text-align:		left;
	background-color:	#570b0c;
}

.inside_wrapper_2 {
	font-size:		1em;
	width:			44.6667em;
	margin-left:		auto;
	margin-right:		auto;
	text-align:		left;
	background-color:	#865d3a;
}

.wrapper_1 {
	font-size:		1em;
	width:			44em;
	margin-left:		auto;
	margin-right:		auto;
}

.main {
	font-size:		1em;
	width:			44em;
	margin-left:		auto;
	margin-right:		auto;
	background-color:	#a8433a;	/* Sliced Peaches Palette */
	color:			#efeeea;
	text-align:		left;
}

.rtop, .rbottom {
	display:		block;
}

.rtop *, .rbottom * {
	display:		block;
	height:			1px;
	overflow:		hidden;
}

.r1_w3 {
	margin:			0 9px;
	background-color:	#570b0c;
}

.r2_w3 {
	margin:			0 5px;
	background-color:	#570b0c;
}

.r3_w3 {
	margin:			0 3px;
	background-color:	#570b0c;
}

.r4_w3 {
	margin:			0 2px;
	background-color:	#570b0c;
}

.r5_w3 {
	margin:			0 1px;
	height:			2px;
	background-color:	#570b0c;
}

.r1_w2 {
	margin:			0 9px;
	background-color:	#865d3a;
}

.r2_w2 {
	margin:			0 5px;
	background-color:	#865d3a;
}

.r3_w2 {
	margin:			0 3px;
	background-color:	#865d3a;
}

.r4_w2 {
	margin:			0 2px;
	background-color:	#865d3a;
}

.r5_w2 {
	margin:			0 1px;
	height:			2px;
	background-color:	#865d3a;
}

.r1 {
	margin:			0 9px;
	background-color:	#a8433a;
}

.r2 {
	margin:			0 5px;
	background-color:	#a8433a;
}

.r3 {
	margin:			0 3px;
	background-color:	#a8433a;
}

.r4 {
	margin:			0 2px;
	background-color:	#a8433a;
}

.r5 {
	margin:			0 1px;
	height:			2px;
	background-color:	#a8433a;
}

h1 {
	font-size:	2.6667em;	/* 48px */
	line-height:	1em;	/* 48px */
	margin:		0;
	padding:        1.5em 0 0.875em 3.5em;
}

h2 {
	font-size:	1.1667em;
	line-height:	1.286em;
	margin-top:	1.929em;
	margin-bottom: 	0.643em;
}

ul {
	list-style-type:	none;
	font-size:		1em;
	line-height:		1.5em;
}

a {
	text-decoration:	none;
	color:			#321919;
}

img {
	text-decoration:	none;
}

p {
	width:		28.3333em;
	font-size: 	1em;
	line-height: 	1.5em;
	padding:	0 0 2.6667em 2.3333em;
}

.sidenote {
	font-size:	0.8333em;
	line-height: 	1.8em;
	float:		right;
	width:		13.6005em;
}

.line_1 {
	font-size:	1.5em; 	/* 27px */
	line-height:	1em;	/* 27px */
	margin:		0 1.5556em 0 1.5556em;
	border-bottom:	0.2222em solid #570b0c;
}

.line_2 {
	font-size:      1.5em;  /* 27px */
        line-height:    1em;    /* 27px */
	margin:         0 1.3333em 2em 2.8889em;
        border-top:	0.2222em solid #865d3a;
}

.content_wrapper {
	font-size:	1em;
	padding-bottom:	4em;
}

.vertical_line_1 {
	font-size:	1em;
	width:		32.3333em;
	border-right:	0.3333em solid #570b0c;
}

.content {
	font-size:	1em;
	width:		32.3333em;
}

.right {
	float: 		right;
}

.bio {
	font-size:		0.6667em;
	line-height:		2.25em;
	width:			10em;
	margin-right:		3.5em;
	margin-bottom:		1.75em;
}

.badge {
	margin-left:		-0.6667em;
}
