.whoops {
  display: block;
  background-color:	#7C593C;	/* chocolate palette */
  color:	#181000;
  text-align: left;
  padding-left: .333em;
  padding-right: .333em;
  width: 43.333em;
}

.anteaya {
  display: block;
  background-color:	#AA8E83;	/* chocolate palette */
  color:	#181000;
  text-align: left;
  padding-left: .333em;
  padding-right: .333em;
  width: 43.333em;
}
