body {
	font-size:	14px;
	font-family:	"Frutiger", "Univers", "Helvetica Neue", arial, helvetica, sans-serif;
}

h1 {
	font-size:	1.5em;	/* 21px */
	line-height:	1em;	/* 21px */
	margin: 	0 0 1em 9em;
}

h2 {
	font-size:	1.1667em;
	line-height:	1.286em;
	margin-top:	1.929em;
	margin-bottom: 	0.643em;
}

p {
	height:		7em;	/* 84px */
	width:		31em;	/* 372px */
	font-size: 	1em;	/* 12px */
	line-height: 	1.5em;	/* 18px */
	margin:		0 0 1.5em 13.5em;
}

.sidenote {
	font-size:	0.8333em;	/* 10px */
	line-height: 	1.8em;		/* 18px */
}
